<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-md-3">
    
        </div>
        <div class="col-md-6">
            <h1>Traffic Anomaly Detection Portal</h1> 
        </div>
        <div class="col-md-3">
    
        </div>
       </div>

       <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/snow_sabre_silver/512/folder_web_upload.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Upload file</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="upload" class="btn btn-primary">Upload</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/F-I-P-by-Delacro/128/mp.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">View the Gallery</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="gallery" class="btn btn-primary">Gallery</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-004_comment_chat-128.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Contact Us</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="contact" class="btn btn-primary">Contact</a>
                </div>
              </div>
        </div>
       </div>
   <style>
    
       body{
        background-color:  #1b2125;
           font-family: 'Chakra Petch', sans-serif !important; 
           color: white;
           padding: 40px;
           align-items: center;
       }
       img{
           height: 100px;
           width: 100px;
       }
   </style>
</body>
</html>